@model IEnumerable<F1_Manager.Models.Cars.CarListAll>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorsePower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acceleration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Acceleration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CarId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CarId }) |
                    @Html.ActionLink("Delete", "DeleteCar", new { id = item.CarId })
            </td>
        </tr>
}
    </tbody>
</table>
